.comparison {
  position: relative;
  width: 1390px;
  background-color: #f1f1f1;
}
.comparison .canvas-container {
  box-sizing: border-box;
  padding-top: 30px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
